body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.corpo{
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    width: 10vw;
}