/* ferrou */
body{
    overflow-x:hidden ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    padding: 0%;
    margin: 0%;
}

.header{
    background-color: rgb(32, 41, 173);
    color: white;
    padding: 10px 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#senai{
    width: 50%;
}

.esquerda{
    justify-content: end;
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    
}

.esquerda li{
    list-style: none;
}

.letra{
    padding-top: 25%;
    padding-bottom: 25%;
    font-size: 17px;
    margin-left: 25%;

}

.letra a{
   color: white;
   text-decoration: none; 
}

.footer {
    background-color: rgb(32, 41, 173);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
} 